# 모델 관련 파일
models/
*.pt
*.bin
*.model
*.pth
*.ckpt
*.weights

# 데이터 파일
data/
*.mp4
*.png
*.jpg
*.jpeg

# 캐시 파일
__pycache__/
*.pyc

# 결과 파일
result/
models/

# 특정 모델 파일 예외 처리
!models/    # 이렇게 폴더 먼저 예외처리
!models/specific_model.pt  # 그 다음 특정 파일 예외처리